@page
@{
    Layout = null;
}
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"]</title>

    <!-- Custom fonts for this template-->
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />

    <link rel="icon" href="~/pepe.ico">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form class="user" id="account" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <input class="form-control form-control-user"
                                                   id="emailInput" aria-describedby="emailHelp"
                                                   placeholder="Enter Email Address..." asp-for="Input.Email">
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                   id="exampleInputPassword" placeholder="Password" asp-for="Input.Password">
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck" asp-for="Input.RememberMe">
                                                <label class="custom-control-label" for="customCheck" asp-for="Input.RememberMe">
                                                    Remember Me
                                                </label>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-user btn-block" type="submit">
                                            Login
                                        </button>
                                        <hr />

                                    </form>

                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="user">
                                        <div class="alt-login">
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                <button type="submit" class="btn btn-@provider.DisplayName.ToLower() btn-user btn-block" value="@provider.Name" name="provider">
                                                    <i class="fab fa-@provider.DisplayName.ToLower() fa-fw"></i> Login with @provider.DisplayName
                                                </button>
                                            }
                                        </div>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" asp-page="./ForgotPassword">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    } 

</body>

</html>