@page
@{ Layout = null; }
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"]</title>

    <!-- Custom fonts for this template-->
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />

    <link rel="icon" href="~/pepe.ico">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="registerUsername"
                                           placeholder="Email Address" asp-for="Input.Email">
                                    <span asp-validation-for="Input.Email"></span>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="registerEmail"
                                           placeholder="Email Address" asp-for="Input.Email">
                                    <span asp-validation-for="Input.Email"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                               id="registerPassword" placeholder="Password" asp-for="Input.Password">
                                        <span asp-validation-for="Input.Password"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                               id="registerRepeatPassword" placeholder="Repeat Password" asp-for="Input.ConfirmPassword">
                                        <span asp-validation-for="Input.ConfirmPassword"></span>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </button>

                            </form>

                            <hr>

                            <form id="external-register" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="user">

                                @foreach (var provider in Model.ExternalLogins)
                                {

                                    <button type="submit" class="btn btn-@provider.DisplayName.ToLower() btn-user btn-block" name="provider" value="@provider.Name">
                                        <i class="fab fa-@provider.DisplayName.ToLower() fa-fw"></i> Register with @provider.DisplayName
                                    </button>
                                }
                            </form>



                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.html">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>


</html>


